/* Sass variables */
$primary_color: white;
$secondary_color: gray;
$playerDice_color: #9db5ff;
$computerDice_color: #ffb1ae;
$popUp_color: #8068ee;
$font: 'Yomogi', cursive;
$button_background: #4c8cc0;